*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: #030303;
  color: #e2e2e3;
}

/* Amplify UI colors */
:root {
  --amplify-primary-color: #220500;
  --amplify-primary-tint: #1a0400;
  --amplify-primary-shade: #290600;
}
